<h1>
  {{title}}
</h1>
<h3> Do you want to share your location</h3>
<input type="button"  name="current" value="Yes" (click)="isCurrent = true; getDetails()">
<input type="button"  name="custom" value="No" (click)="isCurrent = false; weatherData=undefined">

<div>
  
  <div *ngIf="!isCurrent">
    <h5>Please provide Postal Code or Country details</h5> 
     <form #locationForm="ngForm" role="form" novalidate>
        Country:<input type="text" name="country" [(ngModel)]="country"> <br/>
        Postal Code:<input type="text" name="postalCode" [(ngModel)]="postalCode">
        <input type="button" (click)="getDetails()" value="Submit">
     </form>
  </div>
  
  <div *ngIf="weatherData">
    <h4>Weather Details</h4>
    Name: {{weatherData.name}} <br/>
    Latitude: {{weatherData.coord?.lat}} <br/>
    Longitude: {{weatherData.coord?.lon}}   <br/>
    Main: {{weatherData.weather[0]?.main}} - {{weatherData.weather[0]?.description}}<br/>
   Temp: {{weatherData.main?.temp}}<br/>
   Pressure: {{weatherData.main?.pressure}}<br/>
   Humidity: {{weatherData.main?.humidity}}<br/>
   Max Temp: {{weatherData.main?.temp_max}}<br/>
   Min Temp: {{weatherData.main?.temp_min}}<br/>

   Visibility: {{weatherData.visibility}}<br/>
   Wind Speed: {{weatherData.wind?.speed}}<br/>
   Wind Direction: {{weatherData.wind?.deg}}
  </div>
</div>

